.typing-effect{
    display: inline-block;
    font-size: xx-large;
    font-family: Consolas, "Courier New", monospace;
}

.typing-effect-dark{
    color: #411;
    text-shadow: 0 0 15px #411;
}

.glow-dark{
    color: #f00;
    text-shadow:  0 0 10px #f00, 0 0 20px #ff4d4d;
    animation: glow-pulse 1s infinite alternate;
}

@keyframes glow-pulse {
    0% { text-shadow: 0 0 10px #f00, 0 0 20px #ff4d4d, 0 0 30px #f00;}
    100% { text-shadow: 0 0 20px #ff4d4d, 0 0 30px #f00, 0 0 40px #ff4d4d;}
}

.typing-effect-light {
    color: #222;
    text-shadow: 0 0 10px #aaa;
}

.glow-light{
    color: #007f7f;
    text-shadow: 0 0 10px #0db2b2, 0 0 20px #239494;
    animation: glow-pulse-light 1s infinite alternate;
}

.hover-effect:hover{
    transform: scale(1.2);
    color: #f00;
    text-shadow: 0px 0px 10px #f00, 0px 0px 20px #f00, 0px 0px 30px #ff4d4d;
}

@keyframes glow-pulse-light{
    0% { text-shadow: 0 0 10px #007f7f, 0 0 #00bfff, 0 0 30px #0077ff;}
    100% { text-shadow: 0 0 20px #00bfff, 0 0 30px #007f7f, 0 0 40px #00bfff;}
}